<style>
    .anki-note{
        font-family: "Aptos";
        font-size: 30px;
    }

    .okurigana {
	    color: #999;
    }

    .furigana {
	    color: #669;
    }

    .target_kanji { 
       color: orange;
    }

    .target_furigana {
       color: cyan;
    }

    .target_okurigana {
       color: violet;
    }
    
</style>

<div class="anki-note">
    {{input}}
</div>

